.menu-btn {
    -fx-background-color:#a8ddb5;
    -fx-text-fill: rgb(191, 192, 194);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.menu-btn:hover {
    -fx-background-color:#bae2c4;
    -fx-text-fill: #fff;
}
.menu-btn:pressed {
    -fx-background-color:#7bccc4;
    -fx-text-fill: #fff;
}