.menu-btn {
    -fx-background-color:rgba(176,196,222,1);
    -fx-text-fill: rgb(191, 192, 194);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.menu-btn:hover {
    -fx-background-color:#94b2d7;
    -fx-text-fill: #fff;
}
